<!DOCTYPE html>
<html>
    <title><%= keyname %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <body onload="onbodyloaded()">

      <div class="w3-container">
        <h2><%= keyname %></h2>

        <form action="/post" method="post">
            <div class="w3-bar">
                <button id="navigate_up_objectbutton" disabled class="w3-large w3-button" onclick="onnavigatetoparent(event)">Up <i class="material-icons">arrow_upward</i></button>
                <button id="navigate_home_objectbutton" disabled class="w3-large w3-button" onclick="event.preventDefault();window.location.assign('/get/'+window.location.search)">Root <i class="material-icons">home</i></button>
                <button id="update_object_button" class="w3-large w3-button" type="submit">Update <i class="material-icons">upgrade</i></button>
            </div>
            <hr/>
            <input id="hidden_objectname" class="w3-input w3-hide" type="text" name="objpath" value=""/>
            <% let keys = Object.keys(obj) %>
            <% for(let i=0;i<keys.length;i++) { %>
                <% let k = keys[i]; %>
                <div class="w3-row-padding">
                    <div class="w3-quarter">
                        <label>Key</label>
                        <input class="w3-input w3-border" type="text" name="<%= k %>_key" placeholder="Key" value="<%= k %>"/>
                    </div>
                    <div class="w3-quarter">
                        <label>Type</label>
                        <% let type=typeof(obj[k]); %>
                        <input class="w3-input w3-border" type="text" name="<%= k %>_type" placeholder="Type" value="<%= type %>"/>
                    </div>
                    <div class="w3-half">
                        <% if(type=="object") { %>
                            <button class="w3-button" onclick="onnavigatetochild(event,'<%= k %>')">
                                <img src="/icons/jumpto_element.svg" alt="open element" height="38" width="38" />Value
                            </button>
                        <% } else { %>
                            <label>Value</label>
                        <% } %>
                        <% if(type=="string") { %>
                            <input class="w3-input w3-border" name="<%= k %>_value" type="text" placeholder="value" value="<%= obj[k] %>"/>
                        <% } else if(type=="number") { %>
                            <input class="w3-input w3-border" name="<%= k %>_value" type="number" placeholder="1234.5678" value="<%= obj[k] %>"/>
                        <% } else if(type=="boolean") { %>
                            <input class="w3-input w3-border" name="<%= k %>_value" type="text" placeholder="true or false" value="<%= obj[k].toString() %>"/>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </form>
                <hr/>
        <form>
            <div class="w3-row-padding">
                <h3>ADD ITEM</h3>
            </div>
            <div class="w3-row-padding">
                <div class="w3-quarter">
                    <label>Key</label>
                    <input class="w3-input w3-border" type="text" placeholder="Key" value=""/>
                </div>
                <div class="w3-quarter">
                    <label>Type</label>
                    <input class="w3-input w3-border" type="text" placeholder="Type" value=""/>
                </div>
                <div class="w3-half" id="addvalue">
                </div>
            </div>
            <div class="w3-row-padding">
                <button class="w3-button" onclick="onaddobjectbutton(event)">
                    <img src="/icons/library_add.svg" alt="open element" height="38" width="38" /> Add
                </button>
            </div>
        </form>
      </div>

        <script>
            function onbodyloaded(){
                if(window.location.pathname!='/get/') {
                    let btn = document.getElementById('navigate_home_objectbutton');
                    btn.disabled=false;
                    btn = document.getElementById('navigate_up_objectbutton');
                    btn.disabled=false;
                }
                let objinput = document.getElementById('hidden_objectname');
                objinput.value = window.location.pathname.slice(4);
            }
            function onaddobjectbutton(e){
                e.preventDefault();
            }
            function onupdateobject(e){
                e.submit();
            }
            function onnavigatetoparent(e){
                e.preventDefault();
                let pathname = window.location.pathname;
                let search = window.location.search;
                let idx = pathname.lastIndexOf("/");
                let path = pathname.slice(0,idx+1/*keep '/' */);
                window.location.assign(path+search);
            }
            function onnavigatetochild(e,child){
                e.preventDefault();
                let pathname = window.location.pathname;
                let search = window.location.search;
                window.location.assign(pathname+'/'+child+search);
            }
        </script>
    </body>
</html>
